blog {
    p {
        font-size: 1.2rem;
    }
    
    h1 {
        margin-bottom: 10px;
    }

    h2 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    li {
        font-size: 1.2rem;
        font-weight: 300;
    }
}

.katex {
    font-size: 1.15em;
}