<div class="profile-img-wrapper">
    <!-- <img src="assets/images/Profile.png" alt="profile"> -->
</div>
<h1 class="profile-name">Max Kendall</h1>
<!-- <div class="text-center">
        <span class="badge badge-white badge-pill profile-designation">A Curious Mathemetiti</span>
    </div> -->
<nav class="social-links">
    <!-- target=”_blank” used to open in new tab -->
    <a href="mailto:max@maxkendall.com" target=”_blank” class="social-link"><i class="far fa-envelope"></i></a>
    <a href="https://www.linkedin.com/in/max-kendall/" target=”_blank” class="social-link"><i
            class="fab fa-linkedin"></i></a>
    <a href="https://github.com/madmax755" target=”_blank” class="social-link"><i class="fab fa-github"></i></a>
</nav>
<div class="widget">
    <div class="widget-content">
        <p>max@maxkendall.com</p>
        <p>07400 502233</p>
    </div>
</div>
<div class="widget card">
    <div class="card-body">
        <div class="widget-content">
            <h5 class="widget-title card-title"><u>Recent updates</u></h5>
            <p><a href="https://maxkendall.com/cnn_demo">CNN Demo</a></p>
            <p><a href="https://maxkendall.com/blog_posts/cnn_backpropagation.html">Backpropagation for CNNs</a></p>
            <p><a href="https://maxkendall.com/blog_posts/returns.html">Log Returns vs Returns</a></p>
        </div>
    </div>
</div>
<div class="widget card">
    <div class="card-body">
        <div class="widget-content">
            <h5 class="widget-title card-title"><u>INTERESTS</u></h5>
            <p>Statistics</p>
            <p>Mathematical modelling</p>
            <p>Programming</p>
            <p>Gymnastics</p>
        </div>
    </div>
</div>