<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Max Kendall</title>
<link rel="icon" type="image/x-icon" href="assets/images/favicon.ico">
<link href="https://fonts.googleapis.com/css?family=Mukta:300,400,500,600,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="assets/vendors/@fortawesome/fontawesome-free/css/all.min.css">
<link rel="stylesheet" href="assets/css/live-resume.css?version=1">
<script src="assets/vendors/jquery/dist/jquery.min.js" defer></script>
<script src="assets/vendors/@popperjs/core/dist/umd/popper-base.min.js" defer></script>
<script src="assets/vendors/bootstrap/dist/js/bootstrap.min.js" defer></script>
<script src="assets/js/live-resume.js" defer></script>